<div class="container">
  <ng-container *ngIf="user$ | async as user">
    <h1>Welcome to the home page, {{user.displayName}}!</h1>

  </ng-container>
  <br><br>

    <br><br>
  <button mat-raised-button color="primary" routerLink="/crud">
    ADD POST
  </button>
  <button mat-raised-button color="primary" routerLink="/task">
    ADD TASK
  </button>
  </div>


