<div class="form-container mat-elevation-z5">
  <h1>Sign Up a New User!</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input type="text" matInput placeholder="UserName" formControlName="name"
       (keyup)="transform($event)" [(ngModel)]="first"/>

      <mat-error *ngIf="name?.errors?.['required']">
        UserName is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Confirm Password is required
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        Passwords should match
    </mat-error>
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address" (keyup)="transform1($event)" [(ngModel)]="second"/>
      <mat-error *ngIf="address?.errors?.['required']">
        address is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="address"
        placeholder="Address field 2"
        formControlName="address2"
        (keyup)="transform2($event)" [(ngModel)]="third"
      />

    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="city"
        placeholder="City"
        formControlName="city"
      />

    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="country"
        placeholder="Country"
        formControlName="country"
      />

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Mobile" formControlName="mobile" />
      <mat-error *ngIf="name?.errors?.['required']">
        <i class="fas fa-phone "></i> Please, Enter 10 digit Mobile Number.
      </mat-error>
    </mat-form-field>

    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Sign Up!</button>
    </div>
    <span class="center margin-top">Already an account? <a class="sign-up-link" routerLink="/login">  Login</a></span>
  </form>
</div>
