<div
  class="form-container mat-elevation-z5 text-center"
  *ngIf="user$ | async as user"
>
<div *ngIf="x>=70 && x<=90">
  <h2>Please Update Profile</h2>
  Profile Completion Status:- <progress  id="pro1" value="{{x}}" max="100"></progress>  <span> {{x}}%</span>

 </div>

 <div *ngIf="x<70">
   <h2>Please Update Profile</h2>
   Profile Completion Status:- <progress id="pro1" value="{{x}}" max="100"></progress>  <span> {{x}}%</span>

  </div>
  <div *ngIf="x>90">
   Profile Completion Status:- <progress id="pro1" value="{{x}}" max="100"></progress>  <span> {{x}}%</span>
  </div><br><br>
  <h1>Update Profile</h1>
  <div class="profile-image">
    <img
      width="120"
      height="120"
      class="margin-top mat-elevation-z1"
      [src]="user.photoURL ?? '/assets/images/image-placeholder.png'"
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField hidden type="file" (change)="uploadFile($event, user)" />

  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <input
        id="btn1"
          type="text"
          matInput
          formControlName="firstName"
          placeholder="First Name"

        />

      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="displayName"
          placeholder="Display Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="phone"
          placeholder="Phone"

        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="address"
        placeholder="Address"
      />
    </mat-form-field>
    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="city"
          placeholder="City"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="country"
          placeholder="Country"

        />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>About Me</mat-label>
      <textarea matInput formControlName="aboutme"></textarea>
    </mat-form-field>

    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Save
    </button>

<br><br>



  </form>

</div>
