
.profile-image {
	position: relative;
	width: 120px;
	margin: auto;
	>img {
		border-radius: 100%;
		object-fit: cover;
		object-position: center;
	}
	>button {
		position: absolute;
		bottom: 10px;
		right: 0;
	}
}
.form-container {
	max-width: 500px;
}
.row {
	display: flex;
	gap: 16px;
}

.pro1{
  background-color: yellow;

}
.pro2{
  background-color: red;

}
.pro3{
  background-color: green;

}
