<div class="row">
  <h1>
    Welcome to the Angular Task-1
</h1>

<div>
    <p>Click Login to login to </p>
    <button mat-raised-button color="primary" routerLink="login">
      Login!
  </button><br/><br>
    <p>OR</p>
    <button mat-raised-button color="primary" routerLink="signup">
        Sign Up!
    </button>
</div>
</div>

