$color_1: rgba(0, 0, 0, 0.87);
$color_2: #777272;
$background-color_1: #e4dede;

.formfield {
	background: #283891;
	height: 93vh;
}
:host {
	.mat-form-field {
		width: 100%;
	}
}
.example-container {
	width: 400px;
	max-width: 100%;
	margin: 0 25px 25px 0;
	display: inline-block;
	vertical-align: top;
}
.example-list {
	border: solid 1px #ccc;
	min-height: 60px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
	display: block;
}
.example-box {
	padding: 20px 10px;
	border-bottom: solid 1px #ccc;
	color: $color_1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	font-size: 14px;
	&:last-child {
		border: none;
	}
}
.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
	opacity: 0;
}
.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-list.cdk-drop-list-dragging {
	.example-box {
		&:not(.cdk-drag-placeholder) {
			transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
		}
	}
}
.box {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 10px;
}
.head-title {
	margin: 0;
	padding: 10px;
	background-color: $background-color_1;
	border-radius: 4px;
	color: $color_2;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	span {
		font-weight: normal;
	}
}
